
/* Full-width input fields */
input[type=text], input[type=password], input[type=date], input[type=number], input[type=email], input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=radio] {
    display: inline;    
}

/* Set a style for all buttons */
button {
    background-color: #cc2424;
    color: #fff;
    padding: 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/* edits... */
html, body {
    background: #f7f7f7;
    padding: 0;
    margin: 0;
}
#header {
    width: 100%;
    background: #2b2b2b;
    color: #fff;
    margin-bottom: 40px;
    padding: 10px 0;
    border: 0;
    border-radius: 0;
}
a, a:visited { color: #cc2424; }
a:focus, a:hover, a:active { color: #aa0202; }
#header a {
    color: #fff;
    text-shadow: none;
}
#header a:hover, #header a:focus { text-decoration: underline; }
#header .navbar-brand { padding-top: 7px; }
#header .active a, #header .open a {
    background: #444;
}
#header .dropdown-menu>li>a {
    background: #fff;
    color: #555;
}
#header .dropdown-menu>li>a:hover, #header .dropdown-menu>li>a:focus, #header .dropdown-menu>li>a:active  {
    background: #cc2424;
    color: #fff;
    text-decoration: none;
}

.container.inner {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 45px 15px;
    box-shadow: none;
}
#breadcrumb {
    margin-bottom: 30px;
    color: #999;
}
#breadcrumb span {
    display: inline-block;
    width: 7px;
    background: #cc2424;
    height: 24px;
    margin-right: 7px;
    vertical-align: middle;
}